/* 评论组件样式重写 */
@media screen and (min-width:520px){
    #valine-vuepress-comment {
        margin-left: 5%;
    }
}

@media screen and (min-width:720px){
    #valine-vuepress-comment {
        margin-left: 10%;
        margin-top: 20px;
    }
}

@media screen and (min-width:1025px){
    #valine-vuepress-comment {
        margin-left: 12%;
        margin-top: 30px;
    }
}

@media screen and (min-width:1505px){
    #valine-vuepress-comment {
        margin-left: 19%;
        margin-top: 50px;
    }
}
